<!DOCTYPE html>
<html lang="en" >

<body>
  
  
  <button class='button' type='button'>
    press to scan fingerprint
    <svg xmlns="http://www.w3.org/2000/svg" id="OBJECTS" viewBox="0 0 103.051 102">
       <defs>
           <pattern id="gif" height="100%" width="100%" patternContentUnits="objectBoundingBox">
            <image height="1" width="1" preserveAspectRatio="none" xlink:href="https://media.giphy.com/media/dAWZiSMbMvObDWP3aA/giphy.gif" />
        </pattern>
      </defs>
      
      <g class="draw" stroke="url(#gif)">
      
      </g>
    </svg>
    </button>

  <div class='button-chanson' >
    <div class='flex-item'>Les Gradins</div>
  </div>


</body>
</html>
