<body>

    <div class="main">
        <div class='cadre' type='button'>
            <button class='button' type='button'>
                <svg id="logo">
                  <image width="100%" height="100%" xlink:href="/assets/logo-Kirouac.png" />
                </svg>
            
            </button>
            <p>Débloque l'expérience complète!</p>
            <div class='bouton-boutique'>
                <div @fadeAnimation class='button-chanson' (click)='redirectToBoutique()'>
                    <div class='flex-item' > Boutique </div>
                </div>
            </div>
        </div>
    </div>


</body>