body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90.1vh;
    // max-height: 100%;
    max-width: 100%;
    background: #ecebeb;
    font-family: "Eurostile-extended";
    font-weight: bold;
    
}

p{
    font-family: "Eurostile-extended";
    font-weight: bold;
    font-size: xx-large;
    color: black;
    transform: translateY(-12.5vh);
}

.sous-texte{
    font-family: "Eurostile-extended";
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.button {
    // position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background: #ecebeb;
    border-radius: 50%;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    font-size: 0;
    padding:10px ;

    transform: translateY(-15.8vh);
}


svg {
    width:30vh;
    height:30vh;
    align-items: center;
    transition: all 1.5s
}

.main{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton-boutique {
    display: flex;
    width: 100%;
    direction: row;
    height: max-content;
    justify-content: space-around;
    cursor: pointer;
    

}
.bouton-boutique-grid{
    display: grid;
    width: 80%;
    grid-template-columns: 50% 50%;
    height: max-content;
    transform: translateY(-20.5vh);
}

.cadre {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 50vh;
    background: #ecebeb;
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    // justify-content: center;
    outline: none;
    border: none;
    font-size: 0;
}

image {
    position: absolute ;
    left:0; 
    top:0;
    transition: all 1.5s
}

.button-chanson {
    display: inline-block;
    margin-top: 10vh;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.flex-item {
    padding: 10px 30px;
    font-size: large;
    text-align: center;
}

.button-chanson:hover {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}


@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rotated { 
    transform:rotate(25deg); 
    -webkit-transform:rotate(25deg); 
    -moz-transform:rotate(25deg); 
    -o-transform:rotate(25deg); 
}

// CSS pour mobile

@media only screen and (max-width: 600px) { //screen and (orientation:landscape) {
    /* Your CSS Here*/
    .app-layout {
      height: 100vh;
      // width: 100vh;
    }

    p{
        font-family: "Eurostile-extended";
        font-weight: bolder;
        font-size: xx-large;
        color: black;
        transform: translateY(-5vh);
        text-align: center;
    }

    .bouton-boutique {
        display: flex;
        width: 100%;
        direction: row;
        height: min-content;
        justify-content: space-around;
        cursor: pointer;
        transform: translateY(-4.5vh);
        
    }

    image {
        transition:all 3s;
    }
  
    .flex-item {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: medium;
        text-align: center;
    }
  
    .cadre {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 74vw;
        height: 100vw;
        background: #ecebeb;
        border-radius: 15px;
        box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
        transition: box-shadow 0.7s ease-in-out;
        display: flex;
        align-items: center;
        // justify-content: center;
        outline: none;
        border: none;
        font-size: 0;
    }

    .button {
        // position: relative;
        display: flex;
        flex-direction: column;
        width: max-content;
        height: max-content;
        background: #ecebeb;
        border-radius: 50%;
        box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
        transition: box-shadow 0.7s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        font-size: 0;
        padding:10px ;
    
        transform: translateY(-9.8vh);
    }
    
    
    svg {
        width:17vh;
        height:17vh;
        align-items: center;
        transition: all 1.5s
    }
  
    .button-chanson {
        display: inline-block;
        margin-top: 5vh;
        position: relative;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
        transition: box-shadow 0.7s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
    }
  
  }