body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90.1vh;
    // max-height: 100%;
    max-width: 100%;
    background: #ecebeb;
    font-family: "Eurostile-extended";
    font-weight: bold;
    
}

p{
    font-family: "Eurostile-extended";
    font-weight: bold;
    font-size: xx-large;
    color: black;
    transform: translateY(-11.5vh);
}

h2 {
    position:absolute;
    font-size: 1.65vh;
    font-weight:normal;
    transform: translateY(-23.5vh);
    transition:all 1.5s;

}

.button {
    // position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background: #ecebeb;
    border-radius: 50%;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    font-size: 0;
    padding:10px ;

    transform: translateY(-15.8vh);
}

.container {
    width: 100%;
    height: 97vh;
}

svg {
    width:30vh;
    height:30vh;
    align-items: center;
    transition: all 1.5s
}

.draw {
    opacity: 0;
    transition: opacity ease-in-out 1s;
}

.prints {
    opacity: 0;
}
.main{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bouton-boutique {
    display: flex;
    width: 100%;
    direction: row;
    height: min-content;
    justify-content: space-around;
    cursor: pointer;
    transform: translateY(-16.5vh);
}

.cadre {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 50vh;
    background: #ecebeb;
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    // justify-content: center;
    outline: none;
    border: none;
    font-size: 0;
}

image {
    position: absolute ;
    left:0; 
    top:0;
    transition: all 1.5s
}


// CSS pour mobile


.button-chanson {
    display: inline-block;
    margin-top: 10vh;
    // margin-left: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    // background: #ecebeb;
    border-radius: 40px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    // width: 315px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.flex-item {
    padding: 10px 30px;
    // padding-top: 10px;
    // padding-left: 30px;
    // padding-right: 30px;
    font-size: large;
    text-align: center;
}

// .button:hover,
// .button:focus,
.button-chanson:hover {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.button:hover .draw {
    opacity: 0.4;
}

.button:hover .prints {
    opacity: 1;
    transition: opacity ease-in-out 0.8s;
}

.button:hover:after {
    --color: aqua;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.rotated { 
    transform:rotate(25deg); 
    -webkit-transform:rotate(25deg); 
    -moz-transform:rotate(25deg); 
    -o-transform:rotate(25deg); 
}

@media only screen and (max-width: 600px) { //screen and (orientation:landscape) {
    /* Your CSS Here*/
    .app-layout {
      height: 100vh;
      // width: 100vh;
    }

    
    h2 {
        position:absolute;
        font-size: 1.40vh;
        font-weight:normal;
        transform: translateY(-17.5vh);
        transition:all 1.5s;
    
    }

    image {
        transition:all 3s;
    }
  
    .flex-item {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      font-size: medium;
      text-align: center;
      }
  
    .cadre {
      position: relative;
      width: 74vw;
      height: 74vw;
      background: #ecebeb;
      border-radius: 50%;
      box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
      transition: box-shadow 0.7s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      font-size: 0;
      }
  
      .button-chanson {
          display: inline-block;
          margin-top: 5vh;
          position: relative;
          align-items: center;
          justify-content: center;
          // background: #ecebeb;
          border-radius: 40px;
          box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
          transition: box-shadow 0.7s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: center;
          outline: none;
          border: none;
      }

      svg {
        width:68vw;
        height:68vw;
        align-items: center;
    }
  
  }