<body>

    <div class="main">
        <div class='cadre' type='button'>
            <button class='button' type='button'>
                <svg id="logo">
                  <image width="100%" height="100%" xlink:href="/assets/logo-Kirouac.png" />
                </svg>
            
            </button>
            <p class='annonce'>Débloque l'expérience complète!</p>
            <p class='sous-texte'>À l'achat du vinyle ou de l'album digital, obtient l'accès aux chapitres 7 à 12 de l'expérience "Les Gradins"</p>
            <div class='bouton-boutique-grid'>
                <div class='bouton-boutique'>
                    <div @fadeAnimation class='button-chanson' (click)='redirectToBoutiqueVinyle()'>
                        <div class='flex-item' > Vinyle </div>
                    </div>
                </div>
                <div class='bouton-boutique'>
                    <div @fadeAnimation class='button-chanson' (click)='redirectToBoutiqueCD()'>
                        <div class='flex-item' > CD </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>


</body>