<nz-layout class="app-layout">
    <nz-layout>
      <nz-header>
        <app-personnage></app-personnage>
      </nz-header>
      <nz-content>
        <!-- <div class="inner-content"> -->
          <div [@routeAnimations]="prepareRoute(outlet)" class="inner-content">
            <router-outlet #outlet="outlet"></router-outlet>
          </div>
          
        <!-- </div> -->
      </nz-content>
      <nz-footer @fadeAnimation *ngIf="isCollapsed">
        <div>
          <app-audio-player-button></app-audio-player-button>
        </div>
        <app-home-button></app-home-button>
      </nz-footer>
  </nz-layout>
