body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ecebeb;
    
}

img {
    position:relative;
    width:30vw;
    height:30vw;
    align-items: center;
}

.button-chanson {
    display: inline-block;
    margin-top: 5vh;
    // margin-left: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    // background: #ecebeb;
    border-radius: 40px;
    box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    font-family: "Eurostile-extended";
    font-weight: bold;
    cursor: pointer;
}

.flex-item {
    padding: 10px 30px;
    // padding-top: 10px;
    // padding-left: 30px;
    // padding-right: 30px;
    font-size: x-large;
    text-align: center;
}

p{
    margin: 0%;
}

.titre{
    font-family:"Eurostile-extended";
    font-size: 700%;
    font-style: normal;
    font-weight: bold;
    // color: #ecebeb;
    text-shadow: black;
    // text-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);;
}

.sous-titre{
    font-family:"Eurostile-extended";
    font-size: 220%;
    font-style: normal;
    margin-bottom: 5%;
}

.container{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 7vw;
    height: 7vw;
    background: #ecebeb;
    border-radius: 50%;
    box-shadow: inset 0 0 10px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 10px rgba(55, 84, 170, 0.10), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    font-size: 0;
    cursor: pointer;
}

svg{
    position: absolute;
    // transition:visibility 1s, opacity 1s; 
}

.button:hover,
.button:focus,
.button-chanson:hover {
    box-shadow: inset 7px 7px 10px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 600px) {
    .titre{
        font-family:"Eurostile-extended";
        font-size: 300%;
        font-style: normal;
        font-weight: bold;
        text-shadow: black;
        padding-left: 15%;
    }

    img {
        width:85vw;
        height:85vw;
        align-items: center;
    }

    p{
        padding-left: 0%;
    }

    .sous-titre{
        font-family:"Eurostile-extended";
        font-size: 100%;
        font-style: normal;
        margin-bottom: 20%;
    }

    .container{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
   
    .button {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 20vw;
        height: 20vw;
        background: #ecebeb;
        border-radius: 50%;
        box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
        transition: box-shadow 0.7s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        font-size: 0;
    }
    
    .button:hover,
    .button:focus,
    .button-chanson:hover {
        box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    }
}