<body>
<!-- <div class="titre"> -->
    <!-- <svg id="logo"> -->
    <img width="60vw" height="60vw" src="/assets/BG_Accueil_Plan.png" />
    <!-- </svg> -->
<!-- </div> -->
<div >
    <p class="sous-titre" >Choisis ton personnage</p>
</div>
<div class="container">
    <button class='button' type='button' (click)="selectionnerExperience('Kirouac')">
        <svg width="100%" height="100%" [style.visibility]="isNotSelected('Kirouac')">
          <image width="100%" height="100%" xlink:href="/assets/perso/KIROUAC_perso-off.png" />
        </svg>
        <svg width="100%" height="100%" [style.visibility]="isSelected('Kirouac')">
            <image width="100%" height="100%" xlink:href="/assets/perso/KIROUAC_perso-on.png" />
          </svg>
    </button>
    
    <button class='button' type='button' (click)="selectionnerExperience('Kodak')">
        <svg width="90%" height="90%" [style.visibility]="isNotSelected('Kodak')">
          <image width="100%" height="100%" xlink:href="/assets/perso/KODAK_perso-off.png" />
        </svg>
        <svg width="100%" height="100%" [style.visibility]="isSelected('Kodak')">
            <image width="100%" height="100%" xlink:href="/assets/perso/KODAK_perso-on.png" />
          </svg>
    </button>
</div>
<div>
    <div class='button-chanson' (click)="commencerExperience()">
        <div class='flex-item'> Commencer </div>
    </div>
</div>
</body>


