<body>
<div class="titre">
    <p >LES GRADINS</p>
</div>
<div >
    <p class="sous-titre" >Choisis ton personnage</p>
</div>
<div class="container">
    <button class='button' type='button' (click)="commencerExperience('Kirouac')">
        press to scan fingerprint
        <svg width="100%" height="100%">
          <image width="100%" height="100%" xlink:href="/assets/avatar_Kirouac.png" />
        </svg>
    </button>
    
    <button class='button' type='button' (click)="commencerExperience('Kodak')">
        press to scan fingerprint
        <svg width="90%" height="90%">
          <image width="100%" height="100%" xlink:href="/assets/../assets/avatar_Kodak.png" />
        </svg>
    </button>
</div>
</body>


