<body>
    <div class='button-chanson'>
        <div class="prec" (click)="getPrec()" margin="30px"><i nz-icon nzType="left"></i></div>
        <div class="next" (click)="getNext()" margin="30px"><i nz-icon nzType="right"></i></div>
    </div>
    <div class="PHOTOS">
        <div class='etiquette'>
            <img src={{saison.photosPath}}.svg>
        </div>
        <!-- <app-audio-player-element></app-audio-player-element> -->
        <div class='photo' *ngFor="let i of index">
            <img src="{{saison.photosPath}}_{{i}}.jpg"/>
        </div>
    </div>
</body>