<body>
    <!-- <h2 id="demo6">{{ms}}</h2> -->
    <div id="tl"class="tracklist">
        <!-- <h2 id="demo6">{{ms}}</h2> -->
        <h2 id="demo6">OLYMPE | DANS LE VENT | CARNAVAL (IX) | L'ÉQUIPE | IMMORTEL | YO KODAK! (VI) | VRAI | CARRÉ SAINT-LOUIS | SUNSHINE (III) | MOIMAN |REPEAT | LES GRADINS (XII) |</h2>
    </div>
    <div class="buttons">
    <button class='button' type='button'>
    press to scan fingerprint
    <svg>
      <image width="100%" height="100%" xlink:href="/assets/logo.png" />
    </svg>

    </button>
    <div class='selected-song'>

        <button class="button-chanson" (click)="getPrec()" margin="30px"><i nz-icon nzType="left"></i></button>
        <div class='button-chanson' (click)="selectSong()">
            <div class='flex-item'> {{chansonChoisie.trackname}} </div>
        </div>
        <button class="button-chanson" (click)="getNext()" margin="30px"><i nz-icon nzType="right"></i></button>
    </div>

</div>


</body>

