body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: #ecebeb;
    font-family: eurostile-extended;
}

.button-chanson {
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #ecebeb;
    // box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.7s ease-in-out;
    display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    outline: none;
    border: none;
    font-family: Eurostile;
    font-size: xx-large;
}

.BD{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 84vh;
    width: 100vw;
    overflow: scroll;
    background: #ecebeb;
    // // box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    // box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15), inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    // transition: box-shadow 0.7s ease-in-out;
    // display: flex;
    // align-items: flex-start;
    // justify-content: flex-start;
    outline: none;
}
.case {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 100vw;
    height: 90%;
}

.flex-item {
    width: 350px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size:xx-large;
    font-style: normal;
    font-weight: bold;
}

.glimpse {
    width: 100vh;
    padding: 20 px;
}

img {
    height: 100%;
}

i {
    cursor: pointer;
}

@media only screen and (max-width: 600px) { //screen and (orientation:landscape) {
    /* Your CSS Here*/
    .app-layout {
      height: 100vh;
      // width: 100vh;
    }
  
    .button {
      position: relative;
      width: 15vw;
      height: 15vw;
      background: #ecebeb;
      border-radius: 50%;
      box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15), -10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
      transition: box-shadow 0.7s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      border: none;
      font-size: 0;
      }

      img {
          width: 100vw;
      }

  }